* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 0.5em;
}
h2 {
    font-size: 28px;
    font-weight: 500;
}
.main-content {
    padding-left: 3em;
}
.header {
    overflow: hidden;
    background-color: #fff;
    padding: 20px 10px;
    margin-bottom: 4em;
  }
  
  .header-right a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    font-size: 16px; 
    line-height: 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 5px rgba(156, 156, 156, 0.25);
  }
  
    .header .logo {
    font-size: 40px;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 40px;
    text-decoration: none;
    color: #000;
  }
  
  .header a:hover {
    background-color: #c25c24;
    color: #fff;
  }
  .header-right {
    position: absolute;
    top: 20px;
    left: 14em;
    margin-right: 3em;
  }
  
.home-image-1 {
  max-width: 70%;
  top: 10%;
  right: 15%;
  position: absolute;
}

.home-image-2 {
  display: none;
}

  @media screen and (max-width: 1000px) {
    .header-right a {
      padding: 6px 12px;
      font-size: 13px; 
    }
    .header-right {
      position: absolute;
      top: 30px;
      left: 10em;
    }
    h1 {
      font-size: 28px;
      font-weight: 500;
      padding-bottom: 0.5em;
  }
    h2 {
      font-size: 18px;
      font-weight: 500;
  }
    .home-image-1 {
      display: none;
    }
    .home-image-2 {
      max-width: 72%;
      padding: 4em;
      display: inline-block;
    }
  }