* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header {
    display: flex;
    align-items: center;
    padding-left: 100px;
    position: absolute;
}
.elements {
    padding: 50px 100px;
}
.elements a {
    font-size: 1em;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #000;
    background: #fff;
    border: 1px transparent solid;
    border-radius: 8px;
    box-shadow: 0px 4px 5px rgba(156, 156, 156, 0.25);
}
.elements a:hover {
    color: #fff;
    background: #c25c24;
    transition: ease-in 0.1s;
}
main {
    padding-left: ;
}
section {
    width: 100%;
    height: 100vh;
}
.main-text {
    max-width: 650px;
    padding-left: 100px;
    padding-top: 150px;
}
h1 {
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 15px;
}
h2 {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 15px;
}
p {
    font-size: 18px;
}

.image {
    max-width: 75%;
    position: absolute;
    top: 10%;
    right: 10%;

}


.button {
    margin-top: 70px;
}
.main-button {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background: #c25c24;
    padding: 20px 60px;
    border-radius: 8px;
    box-shadow: 0px 4px 5px rgba(156, 156, 156, 0.25);
    cursor: pointer;
}